.full-screen {
    margin-bottom: 100vh;
}

.acc-row {
    min-height: 70vh;
    margin: 150px;
}

.acc-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}