.header {
    background-color: #0C7FD3;
    padding: 20px;
}

.header img {
    height: 100px;
    border-radius: 4%;
}

.menu-pages button {
    background-color: #0A2D47;
    color: white;
    text-align: center;
}