body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 50px;
    margin-left: 15px;
}

.header .dropdown {
    margin-right: 15px;
}

.form-container {
    margin: 40px auto;
    max-width: 600px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.footer {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer a {
    color: white;
    text-decoration: underline;
}

/* Bouton Créer le compte */
.btn-create {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: all 0.3s;
}

.btn-create:hover {
    background-color: black;
    color: white;
}